<%= form_for @identity,  html: { class: "pure-form" }, url: sessions_path do |form| %>
  <%- if warden_message %>
    <div class='alert'><%= warden_message %></div>
  <% end %>
  <fieldset>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit t('.log_in'), class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>
