<%= form_for @identity, html: { class: 'pure-form pure-form-aligned' }, url: identity_path do |form| %>
  <% if @identity.errors.any? %>
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @identity.errors.full_messages %>
        <li><%= message %>
      <% end %>
    </ul>
  <% end %>

<div class="pure-control-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
</div>
<div class="pure-control-group">
    <%= form.label :password %>
    <%= form.password_field :password %>
</div>
<div class="pure-control-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
</div>
  <div class="pure-controls">
    <%= form.submit t('.create'), class: "pure-button pure-button-primary" %>
  </div>
<% end %>
